.header p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 500;
    
   
    
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    
}
.header img{
    height: 20px;
    width: 20px;
    margin-bottom: -10px;

}
.save{
    background-color: black;
    color: white;
    border: 1px solid white;
    

}
.clear{
    background-color: black;
    color: white;
    border: 1px solid white;


}
.header textarea{
    position: relative;
    margin: 30px 30px;

    height: 300px;
    width: 80%;
    border-radius: 10px;
    
    
    
}
button{
    height: 30px;

    width: 40%;
    margin-bottom: 20px;
    border-radius: 10px;
}
.img{
    height: 30px;
    width: 30px;
    position: absolute;
    opacity: 0.4;
    margin-left: 70%;
    margin-bottom: -35%;
    overflow: visible;

}

